<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8" />
<!-- Bootstrap library -->
  	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-resource.js"></script>
  	<!-- for webcam -->
		<script type="text/javascript" src="js/webcam.min.js"></script>
  	
	<title>Welcome To Rucha Group</title>
	
	
	<!-- Custom fonts for this template-->
	<link href="css/all.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<link href="css/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="css/jquery-ui.css" rel="stylesheet">
	<link href="css/bootstrap-clockpicker.min.css" rel="stylesheet">
	
	<style type="text/css">
		.tooltip {
		  position: relative;
		  display: contents;
		  opacity: 1;
		}
		
		.tooltip .tooltiptext {
		  visibility: hidden;
		  width: 120px;
		  background-color: #c3c0c0;
		  color: #fff;
		  text-align: center;
		  border-radius: 6px;
		  padding: 5px 0;
		
		  /* Position the tooltip */
		  position: absolute;
		  z-index: 1;
		  
		  width: 120px;
		  bottom: 0%;
		  left: 50%;
		  margin-left: -60px;
		}
		
		.tooltip:hover .tooltiptext {
		  visibility: visible;
		}
		
		#my_camera{
		 width: 320px;
		 height: 240px;
		 border: 1px solid black;
		}
	
	</style>
	
</head>
<body id="page-top" ng-app="myApp">
	<script src="controller/main.js"></script>
	<script src="controller/dashboardController.js"></script>
	<script src="controller/managePlantController.js"></script>
	<script src="controller/manageDepartmentController.js"></script>
	<script src="controller/manageEmployeeController.js"></script>
	<script src="controller/manageContactController.js"></script>
	<script src="controller/manageContactEditContoller.js"></script>
	<script src="controller/manageVisitController.js"></script>
	<script src="controller/securityController.js"></script>
	<script src="controller/reportController.js"></script>
	<script src="controller/profileSetting.js"></script>
  	<script src="controller/manageMeetingTypeController.js"></script>
  	
	<div style="width: 100%;" ng-controller="indexController">
 		<!-- Page Wrapper -->
		<div id="wrapper">
		<!-- Sidebar -->
		

		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center border-bottom" href="#">
		<img src="images/rucha-group-logo.png" class="img-fluid" style="height:60px;" />
		</a>
		
		<!-- Divider -->
		<!--<hr class="sidebar-divider my-0">-->
		
		<!-- Super Admin Menu -->
		<li class="nav-item">
		<a class="nav-link" href="" ng-click="navToDashboard()">
		<i class="fas fa-fw fa-tachometer-alt"></i>
		<span>Dashboard</span></a>
		</li>
		
		<li ng-show="role == 'Super Admin'" class="nav-item">
		<a class="nav-link" href="#!ViewAllPlants">
		<i class="fas fa-fw fa-industry"></i>
		<span>Manage Plants</span></a>
		</li>
		
		<li ng-show="role == 'Employee'" class="nav-item">
		<a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#masterMVisit" aria-expanded="true" aria-controls="masterMVisit">
		<i class="fas fa-fw fa-file-signature"></i>
		<span>Manage Visit</span>
		</a>
		<div id="masterMVisit" class="collapse" aria-labelledby="masterMVisit" data-parent="#accordionSidebar">
		<div class="collapse-inner" style="background-color:#3482ae;">
		<a class="collapse-item" href="#!viewAllVisit">Todays Visits Listing</a>
		</div>
		</div>
		</li>
		
		<li ng-show="role == 'Employee'" class="nav-item">
		<a class="nav-link" href="#!ManageContact">
		<i class="fas fa-fw fa-address-card"></i>
		<span>Manage Contact</span></a>
		</li>
		
		<li ng-show="role == 'Super Admin'" class="nav-item">
		<a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#masterMenu" aria-expanded="true" aria-controls="masterMenu">
		<i class="fas fa-fw fa-cogs"></i>
		<span>Master</span>
		</a>
		<div id="masterMenu" class="collapse" aria-labelledby="masterMenu" data-parent="#accordionSidebar">
		<div class="collapse-inner" style="background-color:#3482ae;">
		<a class="collapse-item" href="#!ViewAllEmployee">Employee Master</a>
		<a class="collapse-item" href="#!ViewAllDepartment">Department Master</a>
		<a class="collapse-item" href="#!ViewAllMeetingType">Meeting Type Master</a>
		</div>
		</div>
		</li>
		
		<li ng-show="role == 'Super Admin'" class="nav-item">
		<a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#ReportsMenu" aria-expanded="true" aria-controls="ReportsMenu">
		<i class="fas fa-fw fa-file-alt"></i>
		<span>Reports</span>
		</a>
		<div id="ReportsMenu" class="collapse" aria-labelledby="ReportsMenu" data-parent="#accordionSidebar">
		<div class="collapse-inner" style="background-color:#3482ae;">
		<a class="collapse-item" ng-click="reportType = 'emp'" href="#!empReportVisitedReport">Employee Report for <br />Visited Visit</a>
		<a class="collapse-item" ng-click="reportType = 'cancelEmp'" href="#!empReportCancelReport">Employee Report for <br />cancelled Visit</a>
		<a class="collapse-item" ng-click="reportType = 'plant'" href="#!empReportVisitedReport">Plants wise Report for <br />Visited Visit</a>
		<a class="collapse-item" ng-click="reportType = 'cancelPlant'" href="#!empReportCancelReport">Plants wise Report for <br />cancelled Visit</a>
		<a class="collapse-item" ng-click="reportType = 'plantHr'" href="#!empReportVisitedReport">Plants wise HR Report for <br />Visited Visit</a>
		<a class="collapse-item" ng-click="reportType = 'cancelPlantHr'" href="#!empReportCancelReport">Plants wise HR Report for <br />cancelled Visit</a>
		</div>
		</div>
		</li>
		
		<li ng-show="role == 'Super Admin'" class="nav-item">
		<a class="nav-link" href="#">
		<i class="fas fa-fw fa-tools"></i>
		<span>Authorization</span></a>
		</li>
		<!-- End Super Admin Menu -->
		
		
		
		
		
		
		<!--<li class="nav-item">
		<a class="nav-link" href="dashboard.php">
		<i class="fas fa-fw fa-users"></i>
		<span>Employee Dashboard</span></a>
		</li>
		
		<li class="nav-item">
		<a class="nav-link" href="security-dashboard.php">
		<i class="fas fa-fw fa-user-tie"></i>
		<span>Security Dashboard</span></a>
		</li>-->
		
		
		
		<!--<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#manageVisits" aria-expanded="true" aria-controls="manageVisits">
		<i class="fas fa-fw fa-file-signature"></i>
		<span>Manage Visits</span>
		</a>
		<div id="manageVisits" class="collapse" aria-labelledby="manageVisits" data-parent="#accordionSidebar">
		<div class="collapse-inner" style="background-color:#3482ae;">
		<a class="collapse-item" href="manage-visits-view-all.php">View All</a>
		<a class="collapse-item" href="manage-visits-add-new.php">Add/New Visit</a>
		</div>
		</div>
		</li>-->
		
		
		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
		
		</ul>
		<!-- End of Sidebar -->
		
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
		
		<!-- Main Content -->
		<div id="content">
		
		<!-- Topbar -->
		
		<nav class="navbar navbar-expand navbar-light TopBarBgColor topbar static-top shadow">
		
		<!-- Sidebar Toggle (Topbar) -->
		<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
		<i class="fa fa-bars"></i>
		</button>
		
		<!-- Topbar Search -->
		<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search FaIcon">
		<div class="input-group" style="width: inherit;">
		<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
		</div>
		<span class="FloatIcon fa fa-search"></span>
		</form>
		
		
		<!-- Topbar Navbar -->
		<ul class="navbar-nav ml-auto">
		<!-- Nav Item - Search Dropdown (Visible Only XS) -->
		<li class="nav-item dropdown no-arrow d-sm-none">
		<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-search fa-fw"></i>
		</a>
		<!-- Dropdown - Messages -->
		<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
		<form class="form-inline mr-auto w-100 navbar-search FaIcon">
		<div class="input-group">
		<input type="text" class="form-control bg-light border small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
		</div>
		<span class="FloatIcon fa fa-search"></span>
		</form>
		</div>
		</li>
		
		
		
		<!-- Nav Item - User Information -->
		<li class="nav-item dropdown no-arrow">
		<a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<span class="mr-2 d-none d-lg-inline text-white small">{{emp.empName}}</span>
		<img class="img-profile rounded-circle" ng-if="emp.image != null" ng-src="data:image/png;base64,{{emp.image}}">
		<img class="img-profile rounded-circle" ng-if="emp.image == null" src="images/profile-pic.jpg">
		</a>
		<!-- Dropdown - User Information -->
		<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
		<a class="dropdown-item" href="#!profile">
		<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
		Profile
		</a>
		<a class="dropdown-item" href="#!settings">
		<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
		Settings
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="" ng-click="logoutUser()" data-toggle="modal" data-target="#logoutModal">
		<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
		Logout
		</a>
		</div>
		</li>
		</ul>
		
		</nav>
		
		<!-- End of Topbar -->
		
 		 
 		 <div ng-view></div>
 		 
		
		</div>
		<!-- End of Main Content -->
		
		<!-- Footer -->
		<footer class="sticky-footer bg-white">
		<div class="container my-auto">
		<div class="copyright text-center my-auto">
		<span>Copyright &copy; Rucha Group 2020</span>
		</div>
		</div>
		</footer>
		<!-- End of Footer -->
		
		</div>
		<!-- End of Content Wrapper -->
		
		</div>
		<!-- End of Page Wrapper -->
		
		
		
		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
		</a>
		
		
		
		<!-- Bootstrap core JavaScript-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.js"></script>
		<script src="js/bootstrap-clockpicker.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		
		
		<!-- Core plugin JavaScript-->
		<script src="js/jquery.easing.min.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>
		
		<!-- Page level plugins -->
		<script src="js/jquery.dataTables.min.js"></script>
		<script src="js/dataTables.bootstrap4.min.js"></script>
		
		<!-- Page level custom scripts -->
		<script src="js/datatables-demo.js"></script>
		<script src="js/bs-custom-file-input.js"></script>
		
		
		<script>
		$(document).ready(function () {
		  bsCustomFileInput.init()
		})
		</script>
		
		<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
		</script>
		
		<script type="text/javascript">

			/* Webcam.set({
			  width: 320,
			  height: 240,
			  image_format: 'jpeg',
			  jpeg_quality: 90
			 }); */
			 
		
			<!-- Code to handle taking the snapshot and displaying it locally -->
			/* function take_snapshot() {
			 
			 // take snapshot and get image data
			 Webcam.snap( function(data_uri) {
			  // display results in page
			  document.getElementById('results').innerHTML = 
			  '<img src="'+data_uri+'"/>';
			  } );
			} */
			
			Webcam.set({
				  width: 320,
				  height: 240,
				  image_format: 'jpeg',
				  jpeg_quality: 90
				 });
			

		
		</script>
		
		
		
		<!-- end of footer -->
 	</div>
</body>
</html>