
<!-- Begin Page Content -->
<div ng-controller="dashboardController" class="container-fluid mt-3">

<!-- Page Heading -->
<div class="row mb-2">
<div class="col-sm-12">
<h1 class="h4 text-gray-800">Security Dashboard</h1>
</div>
</div>
<!-- End Page Heading -->



<div class="bg-white px-3 pt-3 mb-3">
<span ng-show="allVisits.length <= 0" style="font-size: x-large;margin-left: 42%;">No Visit for Today</span>
<div class="row">
<div ng-repeat="visit in allVisits" class="col-lg-3 col-sm-6 mb-3">
<div class="card rounded-0 shadow-sm">
<div class="BlueBgColor p-3">
<div class="Circle80 bg-white m-auto"><i class="fa fa-user fa-2x"></i></div>
</div>
<div class="card-body">
<div class="row">
<div class="col-sm-4 mb-3">Name</div>
<div class="col-sm-8 mb-3 BlackTxtColor">: {{visit.meetingBooked.visitor.visitorName}}</div>
</div>

<div class="row">
<div class="col-sm-4 mb-3">Contact No.</div>
<div class="col-sm-8 mb-3 BlackTxtColor">: {{visit.meetingBooked.visitor.contactNumber}}</div>
</div>

<div class="row">
<div class="col-sm-4 mb-3">Origin</div>
<div class="col-sm-8 mb-3 BlackTxtColor">: {{visit.meetingBooked.visitor.organisation}}</div>
</div>

<div class="row">
<div class="col-sm-4 mb-3">Visit Time</div>
<div class="col-sm-8 mb-3 BlackTxtColor">: {{visit.meetingBooked.visitTime}}</div>
</div>

<div class="row">
<div class="col-sm-4 mb-3">Contact Person</div>
<div class="col-sm-8 mb-3 BlackTxtColor">: {{visit.meetingBooked.empId}}</div>
</div>

<a href="" ng-click="securityCheckin(visit)" class="btn btn-primary mr-2">Check In <i class="fa fa-check-circle"></i></a>
<button ng-disabled="!visit.secCheckin || !visit.enableVisitorCheckOut" ng-click="securityCheckout(visit)" class="btn btn-danger">Check Out<i class="fa fa-times-circle"></i></button>
</div>
</div>
</div>
</div>
</div>


<!--Co-visitor detail-->
<div class="modal fade" id="CoVisitorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title BlackTxtColor" id="exampleModalLabel">Visitor Details</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

<div class="border px-3 pt-3 mb-3">
<div class="row">
<div class="col-lg-6">
<div class="row">
<div class="col-sm-5 mb-3">Visit No.</div>
<div class="col-sm-7 BlackTxtColor mb-3">: 1234567890</div>
</div>

<div class="row">
<div class="col-sm-5 mb-3">Visitor Name</div>
<div class="col-sm-7 BlackTxtColor mb-3">: Sylvester Stallone</div>
</div>

<div class="row">
<div class="col-sm-5 mb-3">Visitor From</div>
<div class="col-sm-7 BlackTxtColor mb-3">: Start Industry Ltd.</div>
</div>
</div>

<div class="col-lg-6">
<div class="row">
<div class="col-sm-5 mb-3">Meeting Type</div>
<div class="col-sm-7 BlackTxtColor mb-3">: Vendor</div>
</div>

<div class="row">
<div class="col-sm-5 mb-3">Visit Time</div>
<div class="col-sm-7 BlackTxtColor mb-3">: 12:00 PM</div>
</div>

<div class="row">
<div class="col-sm-5 mb-3">Visitor Phone</div>
<div class="col-sm-7 BlackTxtColor mb-3">: 9876543234</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 mb-3">
<img src="images/profile-pic.jpg" class="img-fluid border p-2" data-toggle="modal" data-target="#CoVisitorDetailModal" />
<div class="w-100 mt-3">
<button class="btn btn-secondary px-3"><i class="fa fa-camera"></i> Click Picture</button>
</div>

<!--Co-Visitor Information Modal-->
<div class="modal fade" id="CoVisitorDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title BlackTxtColor" id="exampleModalLabel">Co-Visitor Information</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

<div class="row">
<div class="col-lg-4">
<img src="images/profile-pic.jpg" class="img-fluid border p-2" data-toggle="modal" data-target="#CoVisitorDetailModal" />
<div class="w-100 mt-3">
<button class="btn btn-secondary px-3"><i class="fa fa-camera"></i> Click Picture</button>
</div>
</div>

<div class="col-lg-8">
<div class="row">
<div class="col-lg-12">
<div class="form-group">
<label>Co-Visitor Name</label>
<input type="text" class="form-control">
</div>
</div>

<div class="col-lg-12">
<div class="form-group">
<label>Visit Reason</label>
<input type="text" class="form-control">
</div>
</div>

<div class="col-lg-12">
<div class="form-group">
<label>Type</label>
<select class="form-control">
<option>Type1</option>
</select>
</div>
</div>

<div class="col-lg-12">
<div class="form-group">
<label>Total Person</label>
<input type="text" class="form-control">
</div>
</div>
</div>
</div>
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary">Save</button>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
</div>
</div>
</div>
</div>
<!--//Co-Visitor Information Modal-->
</div>

<div class="col-lg-8 mb-3">
<h2 class="m-0 FontSize22 p-3 bg-light BlackTxtColor border border-bottom-0">Co-Visitor Information</h2>
<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr>
<th>Visitor Name</th>
<th>Phone No.</th>
<th>Total Asset</th>
<th>Add Asset</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>

<tbody>
<tr>
<td>Sylvester Stallone</td>
<td>9876543212</td>
<td>4</td>
<td><i class="fa fa-luggage-cart fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-edit fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-trash-alt fa-lg fa-fw text-danger Pointer"></i></td>
</tr>

<tr>
<td>Sylvester Stallone</td>
<td>9876543212</td>
<td>4</td>
<td><i class="fa fa-luggage-cart fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-edit fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-trash-alt fa-lg fa-fw text-danger Pointer"></i></td>
</tr>

<tr>
<td>Sylvester Stallone</td>
<td>9876543212</td>
<td>4</td>
<td><i class="fa fa-luggage-cart fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-edit fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-trash-alt fa-lg fa-fw text-danger Pointer"></i></td>
</tr>

<tr>
<td>Sylvester Stallone</td>
<td>9876543212</td>
<td>4</td>
<td><i class="fa fa-luggage-cart fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-edit fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-trash-alt fa-lg fa-fw text-danger Pointer"></i></td>
</tr>

<tr>
<td>Sylvester Stallone</td>
<td>9876543212</td>
<td>4</td>
<td><i class="fa fa-luggage-cart fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-edit fa-lg fa-fw Pointer text-info"></i></td>
<td><i class="fa fa-trash-alt fa-lg fa-fw text-danger Pointer"></i></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary">Save changes</button>
</div>
</div>
</div>
</div>
<!--//Co-visitor detail-->



</div>
<!-- /End Page Content -->
